<div class="container py-5">
    <div class="p-2">
        <h2 class="h2">View Post</h2>
    </div>
    <div class="container d-flex justify-content-end">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
    <div class="container">
        <dl>
            <dt>ID:</dt>
            <dd>1</dd>
        
            <dt>Title:</dt>
            <dd>Description 2</dd>
        
            <dt>Body:</dt>
            <dd>Description 3</dd>
          </dl>
        
        
        
    </div>
    
  </div>
